<header>
  <figure class="logo">
    <img src="img/pied-piper-logo.svg" alt="Logo">
    <figcaption>Webbshop</figcaption>
  </figure>

  <nav class="main-nav">
    <a class="item" href="/">Products</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
  </nav>
</header>
