<header>
  <figure class="logo">
    <img src="img/pied-piper-logo.svg" alt="Logo">
    <figcaption>Webbshop</figcaption>
  </figure>

  <nav class="main-nav">
    <a class="item" href="/">Products</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
  </nav>

  <figure class="cart">
    <img src="img/cart.svg" alt="Cart">
    <figcaption><%= cart.items.length %> items, <%= cart.sum %></figcaption>
  </figure>
</header>
