<head>
  <meta charset="UTF-8">
  <title>IKEA</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
</head>
